:root {

  /* Artistic palette */
  --golden-amber: #F4A900;
  --vibrant-cyan: #00BFFF;
  --lush-lime: #76D13D;
  --royal-blue: #2A5CA7;
  --sunset-orange: #FF7F24;

  --poppy-red: #FF4040;
  --cornflower-blue: #6495ED;
  --daisy-white: #F0F8FF;

}
